<!-- <form action="search-form" #searchForm='ngForm' (ngSubmit)="findProfile(searchForm)">
    <div class="form-group" class="form-control" placeholder="Search git users with username" name="username" ngModel></div>
</form> -->

<form class="example-form" #searchForm='ngForm' (ngSubmit)='findProfile(searchForm)'>
    <mat-form-field class="example-full-width" width="100%">
        <input matInput type="text" placeholder="Github UserName" name='username' [(ngModel)]="RepositoryService.username">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" type="submit">Search User</button>
</form>

<!-- <div *ngIf="RepositoryService">
    <div class="panel panel-default"></div>
    <div class="panel-heading">
        {{RepositoryService.name}}<small>{{RepositoryService.login}}</small>
        <span *ngIf=RepositoryService.company>,Works at{{RepositoryService.company}}</span> {{RepositoryService.location}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <img src="{{RepositoryService.avatar_url}}" class="img-circle img-responsive" alt="Profile Image">
            </div>
            <div class="col-sm-5">
                <ul class="list-group">
                    <li class="list-group-item" *ngIf="RepositoryService.bio">{{RepositoryService.bio}}</li>
                    <li class="list-group-item" *ngIf="RepositoryService.hireable">Available for hire</li>
                    <li class="list-group-item" *ngIf="RepositoryService.email"><a href="emailto:{{RepositoryService.email}}">{{RepositoryService.email}}</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <p>
                    <span class="badge badge-default">{{RepositoryService.followers}}Followers</span>
                    <span class="badge badge-primary">{{RepositoryService.following}}Following</span>
                    <span class="badge badge-success">{{RepositoryService.public_gists}}Public gists</span>
                    <span class="badge badge-info">{{RepositoryService.publi_repos}}Public Repos</span>
                </p>
                <p>
                    <a href="{{RepositoryService.html_url}}" target="_blank" class="btn btn-success btn-sm">View GitHub Profile</a>
                </p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Repos</h3>
                    </div>
                    <div class="panel-body" *ngFor="let repo of repos">
                        <p>
                            {{repo.name}} <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-warning">View this project on github</a>
                        </p>
                        <p>
                            {{repo.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->